

.video-thumbnail img {
  width: 100%;
  
  border: solid 1px #000000
}

.video-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline 2px solid black;

}

.username {
  position: absolute;
  top: 0px;

  background-color: black;
}

.username a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 2px 8px;
}
